
title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:#E1FF1F;
    }/* style css sheet */
p,h1,h2,li {
    font-family: 'Lato', sans-serif;
}
h1{
    color:#37C400;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
margin: auto;
padding:20px;
}
body {
    background-color: #0396FF;
}
