/* style css sheet */
h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 40px;
    color:#ffffff;
    margin: auto;
    text-align: center;
    padding: 8px;
    }
p,h2,li {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}
h2{
    font-weight: bold;
    font-size:18px;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}
a {
    color: #e0c514;
    text-decoration: none;
    font-weight: bold;
}
.header-caption {
    color: #ffffff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
margin: auto;
}

.banner {
    width:100%;
}
#header {
    background-color:#2092c7;
    padding:8px 0;
    width: 100%;
}
.graphic-container {
    width: 50%;
    margin: 20px auto;
}
.footer-design {
    background-color: #ffc905;
    color: #ffffff;
    gap:20px;
    text-align: center;
}
iframe {
    margin-top:50px;
    margin-bottom: 10px;
}
